.screenKeys {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #4AB3C6;
    position: fixed;

}

.containerKeys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #1C8D9E;
    border: 0.3rem solid #ffffff;
    border-radius: 0.8rem;
    padding: 1%;
   
}


.Keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    overflow: hidden;
}


