body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    color: #1B4965;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.link {
    color: #1B4965;
    text-decoration: none;
    padding: auto;
    margin: auto;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.link:hover {
    transform: scale(1.1);
    transition: 0.5s;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.main {
    margin-top: 10%;
}

.main h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
}

.main p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
}

.main p .link-main {
    color: #1B4965;
    text-decoration: none;
    padding: auto;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.footer {
    color: #1B4965;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    
}